$color1											: 	#307FF4;
$color2											: 	#F6BD3D;
$color3											: 	#4CB528;
$color4											: 	#FB554A;
$color5											: 	#171D34;
$color6											: 	#ffffff;
$color7											: 	#73C3FD;


$primary    									:   $color1;
$secondary    									:   $color2;
$green    									    :   $color3;
$red    									    :   $color4;
$black    									    :   $color5;
$white    									    :   $color6;
$blue    									    :   $color7;

$success                                        :   #28a745;
$danger                                         :   #dc3545;
$warning                                        :   #ffc107;
$info                                           :   #17a2b8;
$light                                          :   #f8f9fa;
$dark                                           :   #343a40;
